@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    }

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/pattern-background-desktop.svg) no-repeat center top;
    background-size: 100%;
    background-color: var(--pale-blue);
    font-family: 'Red Hat Display', sans-serif;
    margin: 0 auto;
}

.order-summary-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    box-shadow: 0 25px 35px hsl(224deg 52% 58% / 25%)
}

.summary-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    margin: 30px 0px 0px 0px;
    color: var(--dark-blue);
    font-size: 27px;
    font-weight: 900;
}

.detail {
    width: 354px;
    color: var(--desaturated-blue);
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}

.plan-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 0px 30px 0px;
    background-color: var(--very-pale-blue);
    color: var(--desaturated-blue);
    font-size: 16px;
    width: 354px;
    height: 100px;
    border-radius: 10px;
}

.plan-icon {
    margin: 0px 25px 0px 25px;
}

.plan-name {
    color: var(--dark-blue);
    font-weight: 900;
}

.plan-price {
    color: var(--desaturated-blue);
    display: block;
    font-weight: 500;
}

br {
    display: none;
}

.plan-change {
    margin: 0px 0px 0px 75px;
    color: var(--bright-blue);
    text-decoration: underline;
    font-size: 14px;
    font-weight: 700;
}

.plan-change:hover {
    cursor: pointer;
    color: #766cf1;
    text-decoration: none;
}

.payment {
    height: 50px;
    width: 354px;
    background-color: var(--bright-blue);
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 10px 20px var(--pale-blue);
}

.payment:hover {
    cursor: pointer;
    background-color: #766cf1;
}

.cancel-button {
    height: 50px;
    width: 354px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    margin: 15px 0px 30px 0px;
}

.cancel-text {
    color: var(--desaturated-blue);
    font-size: 15px;
    font-weight: 700;
}

.cancel-text:hover {
    cursor: pointer;
    color: var(--dark-blue);
    font-weight: 700;
}

@media only screen and (max-width: 480px) {
    body {
        padding: 5rem;
    }

    .order-summary-box {
        width: 20rem;
    }

    .detail {
        width: 20ch;
    }

    .plan-box {
        width: 17rem;
    }

    .plan-change {
        margin: 0 0 0 1rem;
    }

    .payment {
        width: 17rem;
    }

    .cancel-button{
        width: 17rem;
    }
}